<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.crewpnr.mapper.pssdb.CommonMapper">

    <!-- 도시/공항 코드 전체 목록 조회 -->
    <select id="selectCityAirportListForCityAirportHandler" resultType="com.lj.core.commoncode.vo.CityAirportInfoVO">
        /* com.lj.crewpnr.mapper.pssdb.CommonMapper.selectCityAirportListForCityAirportHandler */
        SELECT
        APO.IATA_CTY_APO_CD AS APO_CD
        , APO.RGN_CD
        , APO.IATA_COUNTRY_CODE AS CTR_CD
        , APO.DRCT_FLT_YN
        , APO.MLT_CTY_YN
        , APO.USE_YN
        , ANM.LANG_CD
        , ANM.APO_NM
        FROM TB_CTY_APO APO
        JOIN TB_APO_NM ANM ON APO.IATA_CTY_APO_CD = ANM.IATA_CTY_APO_CD
        LEFT JOIN TB_CMM_CD_DTL CD ON CD.CTGR_CD = 'CMM001' AND ANM.LANG_CD = CD.DTL_CD
        LEFT JOIN TB_RGN RGN ON APO.RGN_CD = RGN.RGN_CD
        ORDER BY RGN.ST_SEQ ASC, APO.IATA_CTY_APO_CD ASC, CD.ST_SEQ ASC
    </select>
</mapper>
