@CHARSET "utf-8";

html, body	{ margin:0;padding:0; background:#ececee; font-size:12px; font-family:"notokr-regular",'notokr-thin','notokr-bold';}

form, input, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd { margin:0;padding:0;}
ul, ol, li	{ list-style:none; }
img		{ border:0;vertical-align:top}
table	{ border-collapse:collapse;border-spacing:0 !important;}
th, td	{ padding:0;}
textarea	{ padding:0;margin:0;}
fieldset	{ display:block;border:none;padding:0;margin:0}
legend, caption	 { width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;}
a {text-decoration:none;}
table a {color:#000;}

/*css 스타일 가이드*/
#top {position:relative; padding:20px; background:#313131;}
#top p {font-size:20px; color:#fff;}
.download {display:inline-block; border:1px solid #fff; -webkit-border-radius:20px; border-radius:20px; padding:2px 10px; font-size:13px; color:#fff; float:right; margin-right:50px;}
.css_box {display:inline-block;width:19.5%; margin-top:10px;}
.css_box a {display:block; padding:90px 0; text-align:center; color:#BED600; background:#313131; font-size:20px; -webkit-transition-property:background; -webkit-transition-duration:0.5s; -webkit-transition-timing-function:ease;}
.css_box a:hover {color:#000; background:#BED600;}
#container .section {padding:30px 30px 30px 30px; /*display:inline-block; float:left;*/}
#container .section h3 {padding-bottom:20px;}
#container .wrap {padding:30px 30px 30px 30px; display:block; margin:0 auto;}
.sub_text {font-size:14px; color:#BED600;}
.mid_text {font-size:16px; font-weight:bold; padding:30px 0 10px 0;}
.info_text {font-size:13px;}
.scr {overflow-y:auto;}
.scr_h {overflow-x:auto;}
/*.m_fixed .scr_h{width:1300px;}*/
.clear_both {clear:both;}/* 2018-11-13 추가 */

/* align */
.tal {text-align:left !important;}
.tac {text-align:center !important;}
.tar {text-align:right !important;}

/* color */
.fontTypeA {color:#ff0000 !important;} /* 빨간색 */
.fontTypeB {color:#008ae0 !important;} /* 파란색 */

/* font-weight */
.bold {font-weight:bold !important;}
.normal {font-weight:normal !important;}

/*버튼*/
.btnTypeA {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; min-width:220px; height:46px; line-height:44px; padding:0 40px; border:0; text-align:center; color:#000; font-weight:normal; white-space:nowrap; cursor:pointer; background:#BED600;font-size:16px;}
.btnTypeB {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; min-width:220px; height:46px; line-height:44px; padding:0 40px; border:0; text-align:center; color:#000; font-weight:normal; white-space:nowrap; cursor:pointer; background:#BED600;font-size:16px;}
.btnTypeC {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; min-width:220px; height:46px; line-height:44px; padding:0 40px; border:1px solid #BED600; text-align:center; color:#000; font-weight:normal; white-space:nowrap; cursor:pointer; background:#fff;font-size:16px;}
.btnTypeA.disabled{background:#cacdd4;}
.btnTypeD {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; height:40px; line-height:38px; min-width:134px; padding:0 15px; border:1px solid #641f45; text-align:center; color:#641f45; font-weight:normal; white-space:nowrap; cursor:pointer; background:#fff;font-size:14px;}
.btnTypeE {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; height:40px; line-height:38px; min-width:134px; padding:0 15px; border:0; text-align:center; color:#fff; font-weight:normal; white-space:nowrap; cursor:pointer; background:#641f45;font-size:14px;}
.btnTypeE.wide{width:328px;}
.btnTypeF {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; height:40px; line-height:38px; min-width:134px; padding:0 15px; border:1px solid #641f45; text-align:center; color:#641f45; font-weight:normal; white-space:nowrap; cursor:pointer; background:#fff;font-size:14px;}
.btnTypeG {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:220px; height:40px; line-height:38px; padding:0 15px; border:0; text-align:center; color:#000; white-space:nowrap; cursor:pointer; background:#BED600;font-size:14px;}
.btnTypeGC {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:220px; height:40px; line-height:38px; padding:0 15px; border:1px solid #BED600; text-align:center; color:#000; white-space:nowrap; cursor:pointer; background:#fff;font-size:14px;}
.btnTypeGD {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:120px; height:40px; line-height:38px; padding:0 15px; border:0; text-align:center; color:#000; white-space:nowrap; cursor:pointer; background:#BED600;font-size:14px;}
.btnTypeGD.disabled{background:#cacdd4; border:1px solid #cacdd4; color:#818181; cursor:default;}
.btnTypeGE {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:120px; height:40px; line-height:38px; padding:0 15px;  border:1px solid #BED600; text-align:center; color:#000;white-space:nowrap; cursor:pointer; background:#fff;font-size:14px;}
.btnTypeGF {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:120px; height:40px; line-height:38px; padding:0 15px;  text-align:center; color:#000;white-space:nowrap; cursor:pointer; background:#cacdd4;font-size:14px;}
.buttonTypeGD {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:120px; height:40px; line-height:38px; padding:0 15px; border:0; text-align:center; color:#000; white-space:nowrap; cursor:pointer; background:#BED600;font-size:14px;}
.buttonTypeGE {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:120px; height:40px; line-height:38px; padding:0 15px;  border:1px solid #BED600; text-align:center; color:#000;white-space:nowrap; cursor:pointer; background:#fff;font-size:14px;}
.buttonTypeGF {display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:120px; height:40px; line-height:38px; padding:0 15px; border:0; text-align:center; color:#000; white-space:nowrap; cursor:pointer; background:#cacdd4;font-size:14px;}
.btnTypeH{display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:70px; height:29px; line-height:27px; padding:0 12px;   text-align:center; color:#fff;white-space:nowrap; cursor:pointer; background:#009fda;}
.btnTypeHC{display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:70px; height:29px; border:1px solid #009fda ; line-height:27px; padding:0 12px; text-align:center; color:#009fda;white-space:nowrap; cursor:pointer; background:#fff;}
.btnTypeHD{display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:70px; height:29px; border:1px solid #009fda ; line-height:27px; padding:0 12px; text-align:center; color:#009fda;white-space:nowrap; cursor:pointer; background:#fff;}
.btnTypeHD.disabled{background:#cacdd4; border:1px solid #cacdd4; color:#818181;}
.btnTypeHE{display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;min-width:70px; height:29px; border:1px solid #641f45 ; line-height:27px; padding:0 12px; text-align:center; color:#641f45;white-space:nowrap; cursor:pointer; background:#fff;}
.btnTypeHE.disabled{background:#cacdd4; border:1px solid #cacdd4; color:#818181;}
.btnTypeI{line-height:27px;display:inline-block;-webkit-box-sizing:border-box;box-sizing:border-box;min-width:70px;height:29px;padding:0 12px;  cursor:pointer;text-align:center;white-space:nowrap;color:#fff;background:#de1616;} /* 빨간 버튼 추가 */
.btnTypeJ{line-height:27px;display:inline-block;-webkit-box-sizing:border-box;box-sizing:border-box;min-width:70px;height:29px;padding:0 12px;  cursor:pointer;text-align:center;white-space:nowrap;color:#000;background:#BED600;} /* 녹색 버튼 추가 */
.btn_link{display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; min-width:70px; height:29px; border:1px solid #009fda ; line-height:27px; padding:0 12px 0 23px; text-align:center; color:#009fda;white-space:nowrap; cursor:pointer; background:#fff;background:url('../../images/bo/email.png') no-repeat 8% 50%;}
.link_A {margin-top:20px;}
.link_A a {color:#fff; font-size:15px; background:#006cff;padding:3px 10px;}
.btnTypeD.down:before {content:"";display:inline-block; width:11px; height:14px; margin:-2px 5px 0; background:url('../../images/bo/icon.png')no-repeat -26px -6px; vertical-align:middle;}
.btnTypeD.view:before {content:"";display:inline-block; width:19px; height:14px; margin:-2px 5px 0; background:url('../../images/bo/icon.png')no-repeat -37px -6px; vertical-align:middle;}
.btnTypeD.up:before {content:"";display:inline-block; width:11px; height:14px; margin:-2px 5px 0; background:url('../../images/bo/icon.png')no-repeat -15px -6px; vertical-align:middle;}
.btnAdd {display:inline-block; width:30px; height:30px; background:url('../../images/bo/icon.png')no-repeat -120px -73px; vertical-align:middle;}
.btnSub {display:inline-block; width:30px; height:30px; background:url('../../images/bo/icon.png')no-repeat -150px -73px; vertical-align:middle;}
.table_style .btnTypeA,.btnTypeB,.btnTypeC,.btnTypeD {text-indent:0;}
a.field_add,
a.field_del{position:relative;padding-left:26px;}
.field_add:after{position:absolute; top:9px; left:13px;display:block;content:"";width:9px;height:9px;background:url('../../images/bo/icon.png') no-repeat -58px -103px;}
.field_del:after{position:absolute; top:13px; left:13px;display:block;content:"";width:9px;height:1px;background:url('../../images/bo/icon.png') no-repeat -58px -116px;}
a.btn_moveup,
a.btn_movedown{position:relative;padding-left:24px;}
a.btn_moveup:after{position:absolute; top:9px; left:12px;display:block;content:"";width:7px;height:10px;background:url('../../images/bo/icon.png') no-repeat -74px -103px;}
a.btn_movedown:after{position:absolute; top:9px; left:12px;display:block;content:"";width:7px;height:10px;background:url('../../images/bo/icon.png') no-repeat -74px -116px;}
/*컴포넌트*/
.fieldBox {display:inline-block; margin-right:20px;}
input[type=text] {width:160px; height:30px; background:#fff; line-height:30px; box-sizing:border-box;-webkit-box-sizing:border-box; padding:0 10px; border:1px solid #cfcfcf;vertical-align: middle}
input[type=password] {width:220px; height:30px; background:#fff; line-height:30px; box-sizing:border-box;-webkit-box-sizing:border-box; padding:0 10px; border:1px solid #cfcfcf;}
input[type=text]:disabled,input[type=password]:disabled {color:#999;background-color:#f7f7f6 !important;}
input::-webkit-input-placeholder { color:#999 }
input::-moz-placeholder { color:#999 }
input::-ms-input-placeholder { color:#999 }
input::-ms-clear {width:0;height:0;}
/* 파일첨부 */
.filebox{margin-top:5px;}
.filebox:first-child{margin-top:0;}
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label { display: inline-block; color:#009fda; font-weight:bold; padding:0 50px;line-height:30px; border:1px solid #009fda; vertical-align: middle; background-color: #fff; cursor: pointer;} /* named upload */
.filebox .upload-name { display: inline-block;line-height:30px; height:30px; padding:0 10px; vertical-align: middle; width:300px; background-color: #f5f5f5; border:1px solid #cfcfcf; border-bottom-color: #e2e2e2;-webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; margin:0 !important; }
.common_input.placeholder {font-size:12px; text-align:left;}
.common_input.placeholder2 {font-size:12px; text-align:center;}
.common_select {color:#000; width:220px; padding:0 40px 0 20px; height:40px; background:#fff; line-height:40px; border:1px solid #cfcfcf; border-radius:0; -webkit-appearance:none; appearance:none; font-size:16px; background:#fff url('../../images/bo/btn_arrow-down.png')no-repeat 100% 50%;}
.textarea textarea {width:95%; height:90%;}
select {height:30px;padding: 0 40px 0 10px; margin: 0; border: 1px solid #cfcfcf;text-align: left;vertical-align: middle;font-size: 12px; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;  background: #fff url(../../images/bo/btn_arrow.png) no-repeat 100% 50%;}

:root select {display:inline-block \0/IE9; height:30px \0/IE9;padding:0 10px 0 5px \0/IE9; min-width:100px \0/IE9; margin: 0 \0/IE9; border: 1px solid #cfcfcf \0/IE9;text-align: left \0/IE9;vertical-align: middle \0/IE9;font-size: 12px \0/IE9; border-radius: 0 \0/IE9; -webkit-appearance: none \0/IE9; -moz-appearance: none \0/IE9;  appearance: none \0/IE9; background: #fff url(../../images/bo/btn_arrow.png) no-repeat 100% 50% \0/IE9;} /*IE9 대응*/
select option {line-height:40px; vertical-align:middle;}
select::-ms-expand, input[type=radio]::-ms-expand, input[type=checkbox]::-ms-expand {display:none;}
textarea {position:relative; padding:3px 4px; border:1px solid #cfcfcf; font-family:"notokr-regular",'notokr-thin','notokr-bold'; font-size:12px; width:100%; height:70px;resize:none;box-sizing:border-box;}

input[type="text"].inputPort {
  
    text-transform: uppercase;
}


.inbox_date {position:relative; width:130px; height:40px; line-height:40px;box-sizing:border-box;-webkit-box-sizing:border-box;color:#555; display:inline-block;}
.inbox_date input[type="text"]{width:100% !important; border:1px solid #cfcfcf; text-indent:0; background:#fff;}
.inbox_date:after {content:""; position:absolute; right:10px; top:50%; margin:-9px 0 0 0; display:inline-block;width:20px; height:20px; background:url('../../images/bo/icon.png')no-repeat -56px -20px;}
.inbox_date.on:after {content:""; background:url('../../images/bo/icon.png')no-repeat -76px -20px;}
/* 달력 팝업 */
input[type="text"].btn_calendar{display:inline-block;position:relative;width:160px;height:30px;padding:0 10px; font-size:12px; line-height:30px;border:1px solid #cfcfcf;box-sizing:border-box;background:#fff url('../../images/bo/ico_calendar.png') no-repeat 95% 50%;}
input[type="text"].btn_calendar:disabled{background-color:#f7f7f6}
/* 달력 */
.ui-datepicker {display:none;position:absolute;left:-99999px;width:245px;height:260px;padding:30px 15px 20px;background:#fff;border:1px solid #cfcfcf;box-sizing:border-box;z-index:900!important;}
.ui-datepicker:after{content:'';display:block;clear:both;}
.ui-datepicker-header {position:relative;background:0!important;}
.ui-datepicker-prev {display:inline-block;z-index:200;position:absolute; top:4px; left:0px; width:15px; height:20px; text-indent:-9999px;cursor:pointer; background:url('../../images/bo/icon.png')no-repeat -86px 0px}
.ui-datepicker-next{display:inline-block;z-index:200; position:absolute; top:4px; right:0px; width:15px; height:20px; text-indent:-9999px;cursor:pointer; background:url('../../images/bo/icon.png')no-repeat -101px 0px;}
.ui-datepicker-title{text-align:center;padding-top:3px;}
.ui-datepicker-year {min-width:80px;height:30px;margin-right:10px;padding:0 20px 0 10px;background:#fff url('../../images/bo/btn_arrow-down.png')no-repeat 120% 50%;-webkit-appearance:none;appearance:none;}
.ui-datepicker-calendar{width:100%;margin-top:20px;}
.ui-datepicker-calendar th, .ui-datepicker-calendar td {font-size:12px;text-align: center;padding:3px 0;}
.ui-datepicker-calendar td a{color:#555;}
.ui-datepicker-calendar th span{display:inline-block;width:30px;}
.ui-datepicker-calendar th:first-child,
.ui-datepicker-calendar th:first-child a,
.ui-datepicker-calendar td:first-child,
.ui-datepicker-calendar td:first-child a{color:#e5493a;}
.ui-datepicker-calendar th:last-child,
.ui-datepicker-calendar th:last-child a,
.ui-datepicker-calendar td:last-child,
.ui-datepicker-calendar td:last-child a{color:#009fda;}
.ui-datepicker-calendar td.ui-datepicker-today {background:#fffa90;}/* 20180710 수정 */
.ui-datepicker .ui-datepicker-current {border:0;text-decoration:underline;background:0;position:absolute;right:40px;top:7px;cursor:pointer;}
.ui-datepicker .ui-datepicker-close{position:absolute;right:15px;top:10px;overflow:hidden;width:12px;height:12px;background:#fff url('../../images/bo/btn_close_cal.gif') no-repeat 50% 50%;text-indent:-9999px;padding:0;border:0;cursor:pointer;}
.ui-datepicker-year {width:80px !important;min-width:80px !important;}
.ui-datepicker-month {width:66px !important;min-width:66px !important;}
/*.checkbox {width:20px;height:20px;margin:0 auto;}*/
input[type=checkbox] {width:14px; height:14px;vertical-align:middle}
input[type=radio] {width:14px; height:14px;vertical-align:middle}
input+label{margin:0 15px 0 7px;display:inline-block;}

/*페이지 번호*/
.paginate{padding:19px 0 0;text-align:center}
.paginate a,.paginate strong{vertical-align:middle; display:inline-block;_position:relative;padding:4px 0; width:24px;color:#959595;font-size:12px;font-weight:bold;line-height:normal;text-decoration:none}
.paginate strong{background:#f4f4f4; color:#000;}
.paginate a:hover{background:#f7f7f7}
.paginate a.pre{display:inline-block; padding:0; margin:0; width:24px; height:24px; background:url('../../images/bo/icon.png')no-repeat -30px -143px;}
.paginate a.pre_end{display:inline-block; padding:0; margin:0; width:24px; height:24px; background:url('../../images/bo/icon.png')no-repeat 0 -143px;}
.paginate a.next{display:inline-block; padding:0; margin:0; width:24px; height:24px; background:url('../../images/bo/icon.png')no-repeat -60px -143px;}
.paginate a.next_end{display:inline-block; padding:0; margin:0; width:24px; height:24px; background:url('../../images/bo/icon.png')no-repeat -90px -143px;}
.paginate a.pre:hover,active {background:url('../../images/bo/icon.png')no-repeat -30px -167px;}
.paginate a.pre_end:hover,active {background:url('../../images/bo/icon.png')no-repeat 0 -167px;}
.paginate a.next:hover,active {background:url('../../images/bo/icon.png')no-repeat -60px -167px;}
.paginate a.next_end:hover,active {background:url('../../images/bo/icon.png')no-repeat -90px -167px;}
/*table*/
.common_wrap {position:relative; display:block;}
.ok {background:#00a1d7; padding:3px 15px; font-size:13px; border-radius:30px; -webkit-border-radius:30px; color:#fff;}
.cl {background:#a4a4a4; padding:3px 15px; font-size:13px; border-radius:30px; -webkit-border-radius:30px; color:#fff;}
.er {background:#e44839; padding:3px 15px; font-size:13px; border-radius:30px; -webkit-border-radius:30px; color:#fff;}
.rq {background:#b43376; padding:3px 15px; font-size:13px; border-radius:30px; -webkit-border-radius:30px; color:#fff;}
.table_wrap {position:relative; margin:0 0 0 0; width:100%; text-align:right;}
.table_wrap a[class^="btnType"]{margin-top:50px;}
.table_wrap .btn_wrap a[class^="btnType"]{margin-top:0px;}
.area_left {position:absolute; top:0; right:230px;}
.area_left02 {position:absolute; top:0; right:0;}
.table_style {width:100%; border-top:2px solid #000000;border-bottom:2px solid #000000;table-layout:fixed;}
.table_style.b_bot_none {border-bottom:0;}
.table_style th {height:36px; background:#f7f7f5;padding:5px 0;box-sizing:border-box;word-wrap:break-word;word-break:break-all;} /* 190128 수정 */
.table_style th span {color:#000; font-size:13px;}
.table_style td {height:36px; text-align:center; /*color:#000; yckim 231102*/ word-wrap:break-word;word-break:break-all;}
.table_style tr {border-bottom:1px solid #dcdcdc; background:#fff;}
.table_style .border_r {border-right:1px solid #dcdcdc !important;}
.table_style tr.bor_bn {border-bottom:none;} /* 210128 border 관련 추가 */
/*스크롤 table*/
.sc_table_wrap{position:relative;width:100%;border:solid #000000; border-width:2px 0;padding-top:36px;background:#f7f7f5;}
.sc_table_wrap.inline {display:inline-block;}
.sc_table_wrap .scr{overflow-y:auto;background:#fff;}
.sc_table_wrap .table_style{border:0;}
.sc_table_wrap .table_style th{height:0;line-height:0;padding-top:0;padding-bottom:0;color:transparent;border:0;}
.sc_table_wrap .table_style th div{position:absolute;display:table;background:transparent;top:0px;text-align:center;height:36px;color:#000;}
.sc_table_wrap .table_style th div.border_r {border-right:1px solid #dcdcdc;}
.sc_table_wrap .table_style th span {display:table-cell;vertical-align:middle;line-height:1.2;color:#000;}
.scr_wrap {border:solid #000000; border-width:2px 0;}
.scr_wrap.inline {display:inline-block;}
.scr_wrap .table_style{border:0;}
.common_table {width:100%; border:1px solid #444;}
.common_table .th {padding:10px; text-align:left; background:#ececee;border-right:1px solid #444;border-bottom:1px solid #444;}
.common_table .td {padding:10px;border-right:1px solid #444;border-bottom:1px solid #444;}
.ico_select {display:inline-block; width:13px; height:13px; background:url('../../images/bo/icon.png')no-repeat -120px -43px;}
.ico_mag {display:inline-block;position:relative;top:3px; width:18px; height:18px; margin:0 5px;background:url('../../images/bo/icon.png')no-repeat -134px -43px;} /* width, height 수정 */
.table_style .input_td {height:50px;}
.table_floating { border-collapse: collapse; border-spacing:0; width:100%; border-top:2px solid #000; border-bottom:2px solid #000;}
.table_floating tr {border-bottom:1px solid #dcdcdc;}
.table_floating th { background:#f7f7f5; height: 36px; }
.table_floating td {height:36px; text-align:center; color:#000;}
.table_floating span {color:#000; font-size:13px;}
.table_floating .border_r {border-right:1px solid #dcdcdc;}
/*가로 스크롤 table*/
.tblBackground {width:100%; table-layout: fixed; border-bottom: 2px solid #000000; box-sizing:border-box;}/* 화면에 보여야 할 Table의 가로크기를 잡아줍니다. */
.divHeadScroll {width: 100%; overflow-x: hidden;border-top: 2px solid #000000;}
.tblHead {table-layout: fixed; background-color: #f7f7f5; padding-top: 4px; width: 2017px;height:36px; border-collapse: collapse}
.divBodyScroll {width: 100%;  overflow-x: scroll;border-top: 1px solid #dcdcdc;}
.tblBody {width: 2000px;table-layout: fixed; /*height:30px;*/ border-collapse: collapse;}
.title {text-align: center; font-weight: bold;height:36px; font-size:13px;}
.content {border-bottom:1px solid #dcdcdc;background:#fff; height:36px; text-align:center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.right_border {border-right:1px solid #dcdcdc;}
/*popup style*/
.width {display:inline-block; margin-top:10px; width:100%;}
.half_width {display:inline-block; width:45%;}
.half_width:last-child {margin:0;}
.half_width label, .width label {display:inline-block; width:150px; color:#555555;}
.width .common_input {width:80%;}
.common_popup {position:relative; display:block; background:#631f44; padding:8px;}
.common_popup h2 {font-size:18px; color:#fff; padding:10px 17px;}
.wrap_bg {position:relative; background:#fff; display:block; padding:18px;}
.wrap_bg .gray_bg {background:#f3f3f3; padding:18px 24px; margin-bottom:20px;}
.white_txt {text-align:center; font-size:17px;}
.width_popup {margin:30px 0;}
.p_txt {font-size:13px; text-align:center;}
.width_popup02 {margin:80px 0 0 30px;}
.popup_btn {margin:30px auto 0 auto; display:block; text-align:center;}
.clse {position:absolute; top:18px; right:25px; display:inline-block; width:21px; height:21px; background:url('../../images/bo/icon.png')no-repeat -168px -20px; text-indent:-9999em;}
/*tab style*/
.tab_wrap {position:relative; display:block; margin:0 auto;}
.tab_wrap .tab_ul {display:block; width:100%; overflow:hidden; margin:0 auto;}
.tab_wrap .tab_ul .tab_li {float:left; background:#dfdfe0; min-width:220px; text-align:center; line-height:45px; height:45px; font-size:14px; margin-right:2px;}
.tab_wrap .tab_ul .tab_li a {color:#686d76;display:block; padding:0 30px;}
.tab_wrap .tab_ul .tab_li.on {background:#fff;}
.tab_wrap .tab_ul .tab_li.on a {color:#000;}
.tab_wrap .tab_box {display:block; width:100%; padding:30px 0; background:#fff; margin:0 auto; overflow:hidden;}
.tab_wrap .tab_box .R_box {color:#fff; font-size:30px;text-align:center; margin:0 30px; padding:100px 0; background:#ff9999;}
.tab02_wrap {position:relative; display:block; width:100%;}
.tab02_wrap .tab_ul02:after {content:'';display:block;clear:both;}
.tab02_wrap .tab_ul02 .tab_li02 {position:relative;display:inline-block; float:left; background:#dfdfe0; line-height:40px; height:40px; font-size:14px; margin-right:2px;text-align:center;}
.tab02_wrap .tab_ul02 .tab_li02 a {color:#686d76;display:block; padding:0 30px;min-width:80px;}
.tab02_wrap .tab_ul02 .tab_li02.on {background:#5a5f70;}
.tab02_wrap .tab_ul02 .tab_li02.on a {color:#fff;}
.tab02_wrap .tab_ul02 .tab_li02.on:after {content:""; position:absolute; top:40px; left:50%; margin-left:-6px; display:inline-block; width:12px; height:6px; background:url('../../images/bo/tab_bul.png')no-repeat 0 0;}
/*.tab02_wrap .tab_ul02 .tab_li02:nth-child(2).on:after {left:215px;}
.tab02_wrap .tab_ul02 .tab_li02:nth-child(3).on:after {left:363px;}*/
.tab02_wrap .tab_box {display:block; width:100%; padding:21px 0 0 0;}
.tab02_wrap .tab_box .R_box {color:#fff; font-size:30px;text-align:center; padding:100px 0; background:#ff9999;}
.tr_color_b {background:#ececee !important;}
.tab_wrap .tab_inTable {display:block; padding:0 30px; background:#fff; margin:0 auto;}

/*팝업*/
.bg_dim {position:fixed;left:0;top:0;z-index:100;width:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);}
.popup {background:#661e43; padding:0;}
.popLayer {position:absolute; left:50%; width:500px; max-width:1400px; background:#661e43; display:none;z-index:800;opacity:0;filter:alpha(opacity=0);}
.popLayer iframe{background:#661e43;}
.popLayer .close{position:absolute;width:19px;height:19px;right:18px;top:18px;z-index:100;}
.popLayer .close a{overflow:hidden; display:block; height:19px;text-indent:-1000px; background:url('../../images/bo/icon.png') no-repeat -169px -21px;}
.popLayer.popLayerCatch {max-width:inherit;} /* popLayer 예외 처리 추가 */
#popWrap.no_title{padding-top:60px;}
#popWrap{padding:0 7px 7px;box-sizing:border-box;}
#popWrap h1 {padding:25px 0 0 18px;font-size:18px; line-height:1; color:#fff; height:60px;  box-sizing:border-box;}
#popCont {overflow:hidden; margin:0 auto; width:100%; padding:20px; background:#fff; display:block;box-sizing:border-box;}
#popCont .text {padding:0 50px; text-align:center; line-height:24px; word-break:keep-all;margin-bottom:20px;}
#popCont input[type="text"],#popCont input[type="password"]{width:100%;}
#popCont select{width:100%;padding:0 10px;}
#popCont h2{font-size:16px;font-weight:bold;margin:10px 0}
#popCont .emp {color:#f00;}/* 2018-08-29 추가 */
.bg_w {background:#f3f3f3;padding:20px;}
.bg_wg {background:#fff;}
#popScroll {height:640px; overflow-y:auto;}
#popScroll .fix_height {min-height:562px;}
/* 팝업 */
#popCont .sf_type_area {position:relative;padding:5px 0 10px 5px;vertical-align:top}
#popCont .sf_type_area ul {width:100%;}
#popCont .sf_type_area li {width:100%; margin-bottom:10px;}
#popCont .sf_type_area label {display:inline-block; width:150px; vertical-align:middle;}
#popCont .sf_type_area .sf_inline {position:relative; display:inline-block; width:348px; vertical-align:middle;}
#popCont .sf_type_area .sf_inline .radio_wrap {display:inline-block; width:150px; line-height:40px;}
#popCont .sf_type_area .sf_inline .radio_wrap label {width:100px;}
#popCont .sf_type_area select{width:100%;display:inline-block; float:left;}
#popCont .sf_type_area input[type="text"]{width:100%;display:inline-block; float:left;}
#popCont .sf_type_area textarea {resize:none; vertical-align:middle;}
#popCont .btn_wrap {text-align:center;margin-top:20px;}
#popCont .btn_wrap.right {text-align:right;}
#popCont .wrap_bg {padding: 0;text-align: center;}
/* 탈퇴 팝업 */
#popCont .withdrawal h2+table{margin-top:10px;}
#popCont .withdrawal table{margin-bottom:20px;}
/* 쿠폰 팝업 */
#popCont .coupon .search {padding-left:100px;position:relative;}
#popCont .coupon .search span{position:absolute;left:0;top:10px;font-size:16px;}
#popCont .coupon .btn_wrap{margin-top:20px;}

/*공통 스타일 */
.btn_wrap{margin:50px 0 0;text-align:center;}
.btn_wrap a{margin:0 3px;}
div[class^="tab_wrap"] .tabcon{display:none;}
div[class^="tab_wrap"] .tabcon.on{display:block;}
.tab02_wrap .tabcon{display:none;}
.tab02_wrap .tabcon.on{display:block;}

/* 영업 지원 - 조회 검색 영역 */
.filter {background:#e5e5e5;}
.filter ul{width:1200px;margin:0 auto;padding:14px 15px 9px;box-sizing:border-box;}
.filter ul:after{content:'';display:block;clear:both;}
.filter li{position:relative;width:50%;float:left;margin-bottom:5px;height:40px;}
.filter li.full{width:100%;}
.filter li label{display:inline-block;width:150px;vertical-align:middle}
div[class^='filter'] + .btn_wrap{margin:20px 0 50px;text-align:center;}
.filter.type2 li:nth-child(2n){text-align:right;}
.filter.type2 li:nth-child(2n) label{text-align:left;}
.filter li.agency input{width:150px;}
.filter li.staff span{display:inline-block;position:relative;left:-7px;width:172px;}
.filter .wide li label{width:172px;}
.filter .wide li.staff label{width:auto;}
div[class^='filter'] input {height:40px; line-height:40px;}
div[class^='filter'] select {height:40px;}
div[class^='filter'] input[type="text"].btn_calendar {height:40px;}
.filter select.sm{width:100px;}
.filter li input, .filter li a {vertical-align:middle;}
/* 180725 추가 */
.filter.new_filter ul {width:auto;}
.filter.new_filter ul li {width:30%;}
.filter.new_filter ul li:nth-child(4n + 1) {width:16%;}
.filter.new_filter li:nth-child(4),
.filter.new_filter li:nth-child(8) {width:24%;}
.filter.new_filter li label {width:80px;}
.filter.new_filter li:nth-child(2) label,
.filter.new_filter li:nth-child(6) label {width:150px;}
.filter.new_filter li select {width:150px;min-width:auto;} /* 180726 min-width값 추가 */
.filter.new_filter li input[type="text"] {width:150px;}
.filter.new_filter .sch_city input {width:108px !important;}
.filter.new_filter .label_ck {display:inline-block;margin-left:15px;}
.filter.new_filter .label_ck label{width:auto !important;margin:0 7px 0 4px;}
.filter.new_filter .ck_fm {display:inline-block;margin-left:30px;}
.filter.new_filter .ck_fm label {width:auto;}
/* //180725 추가 */
/* Alert/Confirm 용 - from 개발 (2017.07.31 jhbang) */
.ui-widget-header {background:#661e43; line-height:1; border:none;}
.ui-dialog-titlebar {padding:10px 0 0 18px; font-size:18px; color:#fff; height:50px; box-sizing:border-box; line-height:30px;}
.ui-dialog {background:#661e43;position:absolute;z-index:999;}
.ui-dialog .ui-dialog-content {background:#fff; margin:0 3px 0 3px;}
.ui-dialog .ui-dialog-buttonpane {margin:0 3px 3px 3px;background:#fff;padding:10px 0 20px;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none; text-align:center;}
.no-close .ui-dialog-titlebar-close {display: none;}
.ui-widget, .ui-widget button {margin:0 5px;font-family: "notokr-regular",'notokr-thin','notokr-bold'; font-size: 14px;}
.ui-widget-overlay {position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);}

/* 목록 정렬 - from 개발 (2017.09.18 jhbang) */
.btnSort {display:inline-block; width:17px; height:17px; margin-left:3px; background:url('../../images/bo/sort.png') no-repeat; vertical-align:middle;}
.btnSortAsc {display:inline-block; width:17px; height:17px; margin-left:3px; background:url('../../images/bo/sort_asc.png') no-repeat; vertical-align:middle;}
.btnSortDesc {display:inline-block; width:17px; height:17px; margin-left:3px; background:url('../../images/bo/sort_desc.png') no-repeat; vertical-align:middle;}


/* 우편번호 팝업 */
.zipcode .text {font-size:18px; line-height:1em; color:#000;}
.zipcode fieldset {position:relative; margin:10px 0 50px; box-sizing:border-box; padding-right:120px;}
.zipcode fieldset input[type=text] {width:100%; height:47px;}
.zipcode fieldset .btnTypeD {position:absolute; right:0; top:0; min-width:auto; width:110px; height:47px; line-height:47px;}
.zipcode fieldset .txt {margin:10px -120px 0 0; font-size:14px; line-height:1em;}
.zipcode .caution {position:relative; padding-left:9px; font-size:14px; line-height:26px; word-break:keep-all;margin:0 0 10px 0;}
.zipcode .caution +.tb_style {margin-top:10px;}
.zipcode .text2 {margin-top:10px;}

/* 파일 업로드 */
.uploader{position:relative;padding:20px 0 0 0;}
.uploader .btn_area{position:absolute;top:25px;right:0;}

/* 버튼 New */
.btn_add{display:inline-block;width:35px;height:35px;margin:0 3px;vertical-align:middle;background:url('../../images/bo/btn_add.gif') no-repeat 0 -35px;text-indent:-9999px;}
.btn_del{display:inline-block;width:35px;height:35px;margin:0 3px;vertical-align:middle;background:url('../../images/bo/btn_sub.gif') no-repeat 0 -35px;text-indent:-9999px;}

.filter.schdule li:nth-child(-n+2) {height: 70px;}
.filter.schdule li:nth-child(n+3) {height: 40px;}


.myCheckbox {
    text-align: center;
}