@CHARSET "utf-8";


@font-face {
  font-family:'notokr-regular';
  font-weight:normal;
  src: url(../../font/notokr-regular.eot);
  src: local('notokr regular'),
       url(../../font/notokr-regular.eot?#iefix) format('embedded-opentype'),
       url(../../font/notokr-regular.woff2) format('woff2'),
       url(../../font/notokr-regular.woff) format('woff'),
       url(../../font/notokr-regular.ttf) format('truetype');
}

@font-face {
  font-family:'notokr-thin';
  font-weight:normal;
  src: url(../../font/notokr-thin.eot);
  src: local('notokr thin'),
       url(../../font/notokr-thin.eot?#iefix) format('embedded-opentype'),
       url(../../font/notokr-thin.woff2) format('woff2'),
       url(../../font/notokr-thin.woff) format('woff'),
       url(../../font/notokr-thin.ttf) format('truetype');
}


@font-face {
  font-family:'notokr-bold';
  font-weight:normal;
  src: url(../../font/notokr-bold.eot);
  src: local('notokr bold'),
       url(../../font/notokr-bold.eot?#iefix) format('embedded-opentype'),
       url(../../font/notokr-bold.woff2) format('woff2'),
       url(../../font/notokr-bold.woff) format('woff'),
       url(../../font/notokr-bold.ttf) format('truetype');
}

