<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.core.common.mail.MailMapper">

	<!-- 메일 발송 등록 (URL 방식) -->
	<insert id="insertMailUrl" parameterType="com.lj.core.common.mail.vo.MailInfoVO">
		/* com.lj.core.common.mail.MailMapper.insertMailUrl */
		<selectKey resultType="long" keyProperty="mailId" order="BEFORE">
			SELECT MAILQUEUE_SEC_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MAILQUEUE_SEC (
			  MID
			, TID
			, EMAIL
			, NAME
			, TITLE
			, CONTENTS
			, CDATE
			, PNR
			, EID
			, URLID
			, ATTACH01
			, ATTACH02
			, ATTACH03
			, ATTACH04
			, ATTACH05
			, SEMAIL
			, SNAME
			, TARGET_YN
			, TARGET_DATE
			, MBR_NO
		) VALUES (
			  #{mailId}
			, #{taskId}
			, #{receiverEmail}
			, #{receiverName}
			, #{mailTitle}
			, #{mailContents}
			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, #{senderEmail}
			, #{senderName}
			, 'N'
			, NULL
			, #{receiverId}
		)
	</insert>

	<!-- 메일 발송 등록 (Contents 방식) -->
	<insert id="insertMailContents" parameterType="com.lj.core.common.mail.vo.MailInfoVO">
		/* com.lj.core.common.mail.MailMapper.insertMailContents */
		<selectKey resultType="long" keyProperty="mailId" order="BEFORE">
			SELECT MAILQUEUE_SEC_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO EMS_MAILQUEUE_CLOB (
			  MID
			, TID
			, EMAIL
			, NAME
			, TITLE
			, CONTENTS
			, CDATE
			, PNR
			, EID
			, URLID
			, ATTACH01
			, ATTACH02
			, ATTACH03
			, ATTACH04
			, ATTACH05
			, SEMAIL
			, SNAME
			, TARGET_YN
			, TARGET_DATE
			, MBR_NO
		) VALUES (
			  #{mailId}
			, #{taskId}
			, #{receiverEmail}
			, #{receiverName}
			, #{mailTitle}
			, #{mailContents}
			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, NULL
			, #{senderEmail}
			, #{senderName}
			, 'N'
			, NULL
			, #{receiverId}
		)
	</insert>

	<select id="selectMailQueueSecSeqNextVal" resultType="long">
		SELECT MAILQUEUE_SEC_SEQ.NEXTVAL FROM DUAL
	</select>

	<insert id="insertMailqueueSec" parameterType="com.lj.core.common.mail.vo.MailInfoVO">
        /* com.lj.core.common.mail.MailMapper.insertMailqueueSec */
        INSERT INTO MAILQUEUE_SEC (
        MID,
        TID,
        EMAIL,
        NAME,
        TITLE,
        CONTENTS,
        CDATE,
        PNR,
        EID,
        URLID,
        ATTACH01,
        ATTACH02,
        ATTACH03,
        ATTACH04,
        ATTACH05,
        SEMAIL,
        SNAME,
        TARGET_YN,
        TARGET_DATE,
        MBR_NO
        ) VALUES (
        #{mailId},
        #{taskId},
        #{receiverEmail},
        #{receiverName},
        #{mailTitle},
        #{mailContents},
        TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
        #{pnr},
        NULL,
        #{urlid},
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        #{senderEmail},
        #{senderName},
        'N',
        NULL,
        #{receiverId}
        )
    </insert>
</mapper>
