<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.lj.core.common.actionLog.ActionLogMapper">

	<insert id="insertSrchActnLog"
		parameterType="com.lj.core.common.actionLog.vo.TBActnLogSrchVO">
        /*com.lj.core.common.activity.ActivityLoglMapper.insertSrchAtvtLog*/
        INSERT INTO TB_ACTN_LOG_SRCH
        (
        USR_ID,
        MNU_SCRN,
        URL,
        PRAMS,
        SRCH_RSLT_CNT,
        SRCH_IP,
        SRCH_CHNL_CD,
        SRCH_DTTM
        )
        VALUES
        (
        #{rgtntId},
        #{mnuScrn},
        #{url},
        #{prams},
        #{srchRslt},
        #{rgstIp},
        #{rgstChnlCd},
        #{rgstDttm}
        )
    </insert>

	<insert id="insertModActnLog"
		parameterType="com.lj.core.common.actionLog.vo.TBActnLogModVO">
		/*com.lj.core.common.activity.ActivityLoglMapper.insertModAtvtLog*/
		<selectKey resultType="int" keyProperty="logSeq" order="BEFORE">
			SELECT SQ_ACTN_LOG_MOD_MST.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TB_ACTN_LOG_MOD_MST
		(
			LOG_SEQ,
			LOG_NO,
			URL,
			RQ_URL,
			MNU_SCRN,
			USR_ID,
			MOD_DATA,
			MOD_TYPE,
			UPD_IP,
			UPD_CHNL_CD,
			UPD_DTTM
		)
		VALUES
		(
			#{logSeq},
			#{logNo},
			#{url},
			#{rqUrl},
			#{mnuScrn},
			#{updrId},
			#{modData},
			#{modType},
			#{updIp},
			#{updChnlCd},
			#{updDttm}
		)
	</insert>

	<insert id="insertAdmSrchActnLog"
		parameterType="com.lj.core.common.actionLog.vo.TBActnLogSrchAdmVO">
        /*com.lj.core.common.activity.ActivityLoglMapper.insertAdmSrchActnLog*/
        INSERT INTO TB_ACTN_LOG_SRCH_ADM
        (
        USR_ID,
        MNU_URL,
        MNU_NM,
        RQ_URL,
        CLICK_MNU,
        SRCH_RSLT_CNT,
        SRCH_IP,
        SRCH_CHNL_CD,
        SRCH_DTTM
        )
        VALUES
        (
        #{rgtntId},
        #{mnuUrl},
        #{mnuNm},
        #{rqUrl},
        #{clickMnu},
        #{srchRsltCnt},
        #{rgstIp},
        #{rgstChnlCd},
        #{rgstDttm}
        )
    </insert>
	
	<select id="selectLogNo" parameterType="com.lj.core.common.actionLog.vo.TBActnLogModVO" resultType="String" >
		SELECT
			CONCAT(CONCAT(CONCAT(SUBSTR(TO_CHAR(SYSDATE,'yyyymmdd'),3,4),#{menu}),'_'),
			DECODE(MAX(LOG_NO),NULL,'00001',
			LPAD(MAX(CAST(SUBSTR(LOG_NO,INSTR(LOG_NO,'_')+1,5) AS INT))+1,5,'0')))
		FROM TB_ACTN_LOG_MOD_MST
		WHERE URL = #{url}
		AND SUBSTR(LOG_NO, 0, INSTR(LOG_NO, '_') - 1) LIKE CONCAT(SUBSTR(TO_CHAR(SYSDATE,'yyyymmdd'), 3, 4), #{menu})|| '%' 
	</select>

	<insert id="insertDownloadActnLog"
	        parameterType="com.lj.core.common.actionLog.vo.TBActnLogDownVO">
		/*com.lj.core.common.activity.ActivityLoglMapper.insertDownloadActnLog*/
		<selectKey resultType="int" keyProperty="logNo" order="BEFORE">
			SELECT NVL(MAX(LOG_NO), 0) + 1 FROM TB_ACTN_LOG_DWLD
		</selectKey>
		INSERT INTO TB_ACTN_LOG_DWLD
		(
			LOG_NO,
			USER_ID,
			USER_NAME,
			MENU_NAME,
			REASON,
			PARAM,
			URL,
			IP,
			RGST_DTTM
		)
		VALUES
		(
			#{logNo},
			#{userId},
			#{userName},
			#{menuName},
			#{reason},
			#{param},
			#{url},
			#{ip},
			SYSDATE
		)
	</insert>
	
	<update id="updateActnLog" parameterType="com.lj.core.common.actionLog.vo.TBActnLogDownVO">
        /*com.lj.core.common.activity.ActivityLoglMapper.updateActnLog*/
        UPDATE TB_ACTN_LOG_DWLD
        SET FILE_NAME = #{fileName}
        WHERE LOG_NO = #{logNo}
    </update>
</mapper>
