<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.core.document.FareRuleMapper">

	<select id="selectFareRule" parameterType="com.lj.core.documents.vo.FareRuleDataVO" resultType="com.lj.core.documents.vo.FareRuleDataVO">
		/* com.lj.core.document.FareRuleMapper.selectFareRule */
		SELECT * FROM
		(
			SELECT
				A.DOM_INT_CTGR_CD
			    , A.MAX_STY_PRD_USE_CD
			    , A.MAX_STY_PRD
			    , A.ADVC_PRCH_CNDTN_USE_CD
			    , A.ADVC_PRCH_CNDTN
			    , A.CHNG_POSB_YN
			    , A.RFND_POSB_YN
			    , A.CHD_DISC_UNIT_CD
			    , A.CHD_DISC_RT
			    , A.INF_DISC_UNIT_CD
			    , A.INF_DISC_RT
			    , B.FEE_AMT AS CHG_NO_SHOW_PLNTY			/* NULL일수 있음*/
			    , C.FEE_AMT AS RFND_NO_SHOW_PLNTY			/* NULL일수 있음*/
			    , E.FEE_AMT AS KRW_NO_SHOW_PLNTY			/* NULL일수 있음*/
			    , F.FEE_AMT AS USD_NO_SHOW_PLNTY			/* NULL일수 있음*/
			    , D.FEE_AMT AS NAVI_PT						/* NULL일수 있음*/
			    , A.OTHS_INFO_KOR
			    , A.OTHS_INFO_ENG
			    <![CDATA[
			    , CASE
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 1
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 2
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 3
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 4

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 5
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 6
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 7
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 8

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 9
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 10
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 11
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 12

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 13
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 14
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 15
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 16

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 17
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 18
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 19
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 20

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 21
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 22
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 23
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN <> 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 24

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 25
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 26
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 27
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 28

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 29
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 30
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 31
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN <> 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 32

			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD <> 'ALL' THEN 33
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD <> 'ALL' THEN 34
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS <> 'ALL' AND A.RBD = 'ALL' THEN 35
			            WHEN A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL' AND A.DEPARTURE_RGN = 'ALL' AND A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL' AND A.ARRIVAL_RGN = 'ALL' AND A.FR_BASIS = 'ALL' AND A.RBD = 'ALL' THEN 36
			    END AS WT
			    ]]>
			    , A.FR_TYP_CD
			    , A.FR_BASIS
			    , A.RBD
			    , A.DEPARTURE_RGN
			    , A.ARRIVAL_RGN
			    , A.DEPARTURE_APO_IATA_CTY_APO_CD
			    , A.ARRIVAL_APO_IATA_CTY_APO_CD
			    , A.DEP_STRT_DT
			    , A.DEP_END_DT
			    , A.SELL_STRT_DT
			    , A.SELL_END_DT
				, C.CRNC_CD
				, A.NABI_PT_INFO_KOR
				, A.NABI_PT_INFO_ENG
				, A.NABI_PT_INFO_JPN
				, A.NABI_PT_INFO_CHN
				, A.NABI_PT_INFO_CHT
				<!-- 20210208 운임규정 부분환불 항목 -->
				, G.FEE_AMT							AS PART_RFND_PLNTY		/* 부분환불, NULL일수 있음 */
				<!-- 20210208 운임규정 부분환불 항목 끝 -->
			FROM TB_FR_RGLT A
			LEFT OUTER JOIN TB_DTL_FR_RGLT B
			ON A.FR_TYP_CD = B.FR_TYP_CD
			    AND A.FR_BASIS = B.FR_BASIS
			    AND A.RBD = B.RBD
			    AND A.DEPARTURE_RGN = B.DEPARTURE_RGN
			    AND A.ARRIVAL_RGN = B.ARRIVAL_RGN
			    AND A.DEPARTURE_APO_IATA_CTY_APO_CD = B.DEPARTURE_APO_IATA_CTY_APO_CD
			    AND A.ARRIVAL_APO_IATA_CTY_APO_CD = B.ARRIVAL_APO_IATA_CTY_APO_CD
			    AND A.DEP_STRT_DT = B.DEP_STRT_DT
			    AND A.DEP_END_DT = B.DEP_END_DT
			    AND A.SELL_STRT_DT = B.SELL_STRT_DT
			    AND A.SELL_END_DT = B.SELL_END_DT
			    AND B.FEE_ITM_CD = '07'
			    AND B.CRNC_CD = #{crncCd}
			LEFT OUTER JOIN TB_DTL_FR_RGLT C
			ON A.FR_TYP_CD = C.FR_TYP_CD
			    AND A.FR_BASIS = C.FR_BASIS
			    AND A.RBD = C.RBD
			    AND A.DEPARTURE_RGN = C.DEPARTURE_RGN
			    AND A.ARRIVAL_RGN = C.ARRIVAL_RGN
			    AND A.DEPARTURE_APO_IATA_CTY_APO_CD = C.DEPARTURE_APO_IATA_CTY_APO_CD
			    AND A.ARRIVAL_APO_IATA_CTY_APO_CD = C.ARRIVAL_APO_IATA_CTY_APO_CD
			    AND A.DEP_STRT_DT = C.DEP_STRT_DT
			    AND A.DEP_END_DT = C.DEP_END_DT
			    AND A.SELL_STRT_DT = C.SELL_STRT_DT
			    AND A.SELL_END_DT = C.SELL_END_DT
			    AND C.FEE_ITM_CD = '03'
			    AND C.CRNC_CD = #{crncCd}
			LEFT OUTER JOIN TB_DTL_FR_RGLT D
			ON A.FR_TYP_CD = D.FR_TYP_CD
			    AND A.FR_BASIS = D.FR_BASIS
			    AND A.RBD = D.RBD
			    AND A.DEPARTURE_RGN = D.DEPARTURE_RGN
			    AND A.ARRIVAL_RGN = D.ARRIVAL_RGN
			    AND A.DEPARTURE_APO_IATA_CTY_APO_CD = D.DEPARTURE_APO_IATA_CTY_APO_CD
			    AND A.ARRIVAL_APO_IATA_CTY_APO_CD = D.ARRIVAL_APO_IATA_CTY_APO_CD
			    AND A.DEP_STRT_DT = D.DEP_STRT_DT AND A.DEP_END_DT = D.DEP_END_DT
			    AND A.SELL_STRT_DT = D.SELL_STRT_DT
			    AND A.SELL_END_DT = D.SELL_END_DT
			    AND D.FEE_ITM_CD = '04'
			    AND D.CRNC_CD = #{crncCd}
			LEFT OUTER JOIN TB_DTL_FR_RGLT E
			ON A.FR_TYP_CD = E.FR_TYP_CD
			    AND A.FR_BASIS = E.FR_BASIS
			    AND A.RBD = E.RBD
			    AND A.DEPARTURE_RGN = E.DEPARTURE_RGN
			    AND A.ARRIVAL_RGN = E.ARRIVAL_RGN
			    AND A.DEPARTURE_APO_IATA_CTY_APO_CD = E.DEPARTURE_APO_IATA_CTY_APO_CD
			    AND A.ARRIVAL_APO_IATA_CTY_APO_CD = E.ARRIVAL_APO_IATA_CTY_APO_CD
			    AND A.DEP_STRT_DT = E.DEP_STRT_DT
			    AND A.DEP_END_DT = E.DEP_END_DT
			    AND A.SELL_STRT_DT = E.SELL_STRT_DT
			    AND A.SELL_END_DT = E.SELL_END_DT
			    AND E.FEE_ITM_CD = '08'
			    AND E.CRNC_CD = 'KRW'
			LEFT OUTER JOIN TB_DTL_FR_RGLT F
			ON A.FR_TYP_CD = F.FR_TYP_CD
			    AND A.FR_BASIS = F.FR_BASIS
			    AND A.RBD = F.RBD
			    AND A.DEPARTURE_RGN = F.DEPARTURE_RGN
			    AND A.ARRIVAL_RGN = F.ARRIVAL_RGN
			    AND A.DEPARTURE_APO_IATA_CTY_APO_CD = F.DEPARTURE_APO_IATA_CTY_APO_CD
			    AND A.ARRIVAL_APO_IATA_CTY_APO_CD = F.ARRIVAL_APO_IATA_CTY_APO_CD
			    AND A.DEP_STRT_DT = F.DEP_STRT_DT
			    AND A.DEP_END_DT = F.DEP_END_DT
			    AND A.SELL_STRT_DT = F.SELL_STRT_DT
			    AND A.SELL_END_DT = F.SELL_END_DT
			    AND F.FEE_ITM_CD = '08'
			    AND F.CRNC_CD = 'USD'
			<!-- 20210208 운임규정 부분환불 항목 -->
			LEFT OUTER JOIN TB_DTL_FR_RGLT G
			ON A.FR_TYP_CD = G.FR_TYP_CD
				AND A.FR_BASIS = G.FR_BASIS
				AND A.RBD = G.RBD
				AND A.DEPARTURE_RGN = G.DEPARTURE_RGN
				AND A.ARRIVAL_RGN = G.ARRIVAL_RGN
				AND A.DEPARTURE_APO_IATA_CTY_APO_CD = G.DEPARTURE_APO_IATA_CTY_APO_CD
				AND A.ARRIVAL_APO_IATA_CTY_APO_CD = G.ARRIVAL_APO_IATA_CTY_APO_CD
				AND A.DEP_STRT_DT = G.DEP_STRT_DT
				AND A.DEP_END_DT = G.DEP_END_DT
				AND A.SELL_STRT_DT = G.SELL_STRT_DT
				AND A.SELL_END_DT = G.SELL_END_DT
				AND G.FEE_ITM_CD = '09'
				AND G.CRNC_CD = #{crncCd}
			<!-- 20210208 운임규정 부분환불 항목 끝 -->
			WHERE A.FR_TYP_CD = #{frTypCd}
			    AND (A.FR_BASIS = #{frBasis} OR A.FR_BASIS = 'ALL')
			    AND (A.RBD = #{rbd} OR A.RBD = 'ALL')
			    AND (A.DEPARTURE_RGN = #{departureRgn} OR A.DEPARTURE_RGN = 'ALL')
			    AND (A.ARRIVAL_RGN = #{arrivalRgn} OR A.ARRIVAL_RGN = 'ALL')
			    AND (A.DEPARTURE_APO_IATA_CTY_APO_CD = #{departureApoIataCtyApoCd} OR A.DEPARTURE_APO_IATA_CTY_APO_CD = 'ALL')
			    AND (A.ARRIVAL_APO_IATA_CTY_APO_CD = #{arrivalApoIataCtyApoCd} OR A.ARRIVAL_APO_IATA_CTY_APO_CD = 'ALL')
			    <![CDATA[
			    AND A.DEP_STRT_DT <= #{depStrtDt} AND A.DEP_END_DT >= #{depStrtDt}
			    AND A.SELL_STRT_DT <= #{sellStrtDt} AND A.SELL_END_DT >= #{sellStrtDt}
			    ]]>
		    ORDER BY WT ASC
	    )
	    WHERE ROWNUM = 1

	</select>


	<select id="selectFareDetailRuleList" parameterType="com.lj.core.documents.vo.FareRuleDataVO" resultType="com.lj.core.documents.vo.DetailRuleDataVO">
        /* com.lj.core.document.FareRuleMapper.selectFareDetailRuleList */
        SELECT
        FEE_ITM_CD
        , FEE_AMT
        , FEE_APCT_STRT_DT_CNT
        , FEE_APCT_END_DT_CNT
        FROM TB_DTL_FR_RGLT
        WHERE FR_TYP_CD = #{frTypCd}
        AND FR_BASIS = #{frBasis}
        AND RBD = #{rbd}
        AND DEPARTURE_RGN = #{departureRgn}
        AND ARRIVAL_RGN = #{arrivalRgn}
        AND DEPARTURE_APO_IATA_CTY_APO_CD = #{departureApoIataCtyApoCd}
        AND ARRIVAL_APO_IATA_CTY_APO_CD = #{arrivalApoIataCtyApoCd}
        AND DEP_STRT_DT = #{depStrtDt}
        AND DEP_END_DT = #{depEndDt}
        AND SELL_STRT_DT = #{sellStrtDt}
        AND SELL_END_DT = #{sellEndDt}
        AND FEE_ITM_CD IN ('01', '02')
        AND CRNC_CD = #{crncCd}
        ORDER BY FEE_ITM_CD ASC, FEE_APCT_STRT_DT_CNT DESC
    </select>

</mapper>
