<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.core.integrtion.IntegrationCertMapper">

	<select id="certificate" parameterType="com.lj.core.integration.vo.IdentificationVO"
		resultType="com.lj.core.integration.vo.CertificationVO">
		select * from TB_CREDENTIAL t where t.SYS_NAME = #{SYS_NAME}
	</select>

</mapper>